@import 'nib';

body {
    background: black;
    color: white;
    overflow: hidden;
}

.matrix {
    font-size: 2.4em;
    font-weight: bold;
    
    transition: all linear 1.5s; 
}

.mytext {
    color: lime;
}